<!-- <div *ngFor="let emp of employees">
    {{emp.employeeId}} {{emp.employeeName}} {{emp.email}} {{emp.contactNumber}}

</div> -->

<div>
  <label for="filter">Filter By:</label>
  <select id="filter" [(ngModel)]="selectedFilter" (change)="useFilter()">
    <option value="all">All</option>
    <option value="department">Department</option>
    <option value="designation">Designation</option>
  </select>

  <div *ngIf="selectedFilter === 'department'">
    <label for="departmentFilter">Select Department:</label>
    <select id="departmentFilter" [(ngModel)]="filterValue" (change)="useFilter()">
      <option value="">All Departments</option>
      <option *ngFor="let department of departmentsList" [value]="department">{{ department }}</option>
    </select>
  </div>

  <div *ngIf="selectedFilter === 'designation'">
    <label for="designationFilter">Select Designation:</label>
    <select id="designationFilter" [(ngModel)]="filterValue" (change)="useFilter()">
      <option value="">All Designations</option>
      <option *ngFor="let designation of designationList" [value]="designation">{{ designation }}</option>
    </select>
  </div>
</div>

<table id="employees" class="flex-table">
    <thead *ngIf="employees.length!=0" style="position: sticky; top: 0px; background-color: white; z-index: 1;">
      <tr style="background-color: #9f9f9f;">
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Designation</th>
        <th>Department</th>
        <th>Email</th>
        <th>Contact Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employeesFiltered">
        <td>{{ emp.employeeId }}</td>
        <td>{{ emp.employeeName }}</td>
        <td>{{ emp.designation }}</td>
        <td>{{ emp.department }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.contactNumber }}</td>
      </tr>
    </tbody>
  </table>