/* tr{
    border: 1px solid #f3f3f3;
}
 
tr:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
 
.clickable-row {
  display: table-row;
  cursor: pointer;
  margin: 200px;
}
 
.clickable-row:hover {
  display: table-row;
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}
 
.table-container {
  height: 100%;
  overflow-y: auto; 
  scrollbar-width: thin;
}
 
.flex-table {
  width: 100%;
  border-collapse: collapse;
  z-index: 1;
}
 
.flex-table th,
.flex-table td {
  padding: 18px 16px;
  border: 1px solid #ccc;
}
 
.flex-table thead th {
  background-color:rgba(255, 255, 255, 0.377); 
  
}
 
.flex-table tbody  {
  background-color: #f9f9f9;
}
 
:host {
  display: flex;
  height: calc(100% - 10px);
  flex-direction: column;
}
 
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: rgb(10, 10, 10);
  background-color:rgb(182, 175, 175);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin : 15px;
}
 
button:hover {
  background-color: #7a7a7a;
}
 
button:disabled{
  background-color: rgb(112, 112, 112);
}
 
.icons{
  width : 15px;
  height : 15px;
  margin-right : 5px;
  margin-left : 5px;
}
 
#nothing{
  width: 300;
  height: 300;
}
 
table{
  text-align: center;
}
 
.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
input{
  padding: 5px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  border-width: 3px;
  transition: border-color 0.5s ease
}
 
input:focus, input:hover{
  border-color: rgb(126, 151, 206);
} */
/* 
:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.table-container {
  flex: 1;
  overflow-y: auto;
}

.flex-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; 

.flex-table thead th {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
}

.flex-table th,
.flex-table td {
  padding: 18px 16px;
  border: 1px solid #ccc;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.flex-table tbody {
  background-color: #f9f9f9;
}

@media (max-height: 600px) {
  .table-container {
    max-height: 100px; 
}

}
 */


 body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container > div {
  margin-bottom: 10px;
}

.table-container {
  flex: 1;
  overflow-y: auto;
}

.flex-table {
  width: 100%;
  border-collapse: collapse;
  z-index: 1;
}

.flex-table th,
.flex-table td {
  padding: 10px;
  border: 1px solid #ccc;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-table thead th {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
}

@media (max-height: 600px) {
  .table-container {
    max-height: 400px;
  }
}

