/* html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bento-box {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.bento-box-section {
  flex: 1;
  padding: 10px;
  margin: 5px;
}

.green {
  background-color: lightgreen;
}

.blue {
  background-color: lightblue;
}

.brown {
  flex: 2;
  background-color: burlywood;
  height: max-content;
}

@media (max-width: 768px) {
  .bento-box {
    flex-direction: column;
  }
} */




html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 100%;
  flex-direction: column;
  z-index: 1;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-header {
  padding: 10px;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.card-body {
  flex: 1;
  padding: 20px;
}

.green {
  background-color: rgb(96, 200, 235);
}

.blue {
  background-color: rgb(96, 200, 235);
}

.brown {
  background-color: rgb(96, 200, 235);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    z-index: 1;
  }

  .cont{
    flex-direction: column;
  }
}

.cont{
  display: flex;
}